
{
    "swagger":"2.0",
    "info":{
        "version":"0.0.1-SNAPSHOT",
        "title":"airlinesWebApp"
    },
    "host":"edu.mum.cs545",
    "basePath":"/rs",
    "schemes":[
        "http"
    ],
    "tags":[
        {
            "name":"airline"
        }
    ],
    "paths":{
        "/airlines":{
            "get":{
                "consumes":[
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "headers":{
                        },
                        "schema":{
                            "type":"array",
                            "items":{
                                "$ref":"#/definitions/Airline"
                            }
                        }
                    }
                }
            },
            "put":{
                "consumes":[
                    "application/json"
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"body",
                        "in":"body",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/Airline"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "headers":{
                        },
                        "schema":{
                            "$ref":"#/definitions/Airline"
                        }
                    }
                }
            },
            "post":{
                "consumes":[
                    "application/json"
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"body",
                        "in":"body",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/Airline"
                        }
                    }
                ],
                "responses":{
                    "201":{
                        "description":"Created",
                        "headers":{
                            "Location":{
                                "type":"string"
                            }
                        },
                        "schema":{
                            "$ref":"#/definitions/Airline"
                        }
                    }
                }
            }
        },
        "/airlines/{airlineId}":{
            "get":{
                "consumes":[
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "type":"integer",
                        "name":"airlineId",
                        "in":"path",
                        "required":true
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "headers":{
                        },
                        "schema":{
                            "$ref":"#/definitions/Airline"
                        }
                    }
                }
            },
            "delete":{
                "consumes":[
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "type":"integer",
                        "name":"airlineId",
                        "in":"path",
                        "required":true
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "headers":{
                        },
                        "schema":{
                            "$ref":"#/definitions/Airline"
                        }
                    }
                }
            }
        },
        "/airplanes":{
            "get":{
                "consumes":[
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "headers":{
                        },
                        "schema":{
                            "type":"array",
                            "items":{
                                "$ref":"#/definitions/Airplane"
                            }
                        }
                    }
                }
            },
            "put":{
                "consumes":[
                    "application/json"
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"body",
                        "in":"body",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/Airplane"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "headers":{
                        },
                        "schema":{
                            "$ref":"#/definitions/Airplane"
                        }
                    }
                }
            },
            "post":{
                "consumes":[
                    "application/json"
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"body",
                        "in":"body",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/Airplane"
                        }
                    }
                ],
                "responses":{
                    "201":{
                        "description":"Created",
                        "headers":{
                            "Location":{
                                "type":"string"
                            }
                        },
                        "schema":{
                            "$ref":"#/definitions/Airplane"
                        }
                    }
                }
            }
        },
        "/airplanes/{airplaneId}":{
            "get":{
                "consumes":[
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "type":"integer",
                        "name":"airplaneId",
                        "in":"path",
                        "required":true
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "headers":{
                        },
                        "schema":{
                            "$ref":"#/definitions/Airplane"
                        }
                    }
                }
            },
            "delete":{
                "consumes":[
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "type":"integer",
                        "name":"airplaneId",
                        "in":"path",
                        "required":true
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "headers":{
                        },
                        "schema":{
                            "$ref":"#/definitions/Airplane"
                        }
                    }
                }
            }
        },
        "/airports":{
            "get":{
                "consumes":[
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "headers":{
                        },
                        "schema":{
                            "type":"array",
                            "items":{
                                "$ref":"#/definitions/Airport"
                            }
                        }
                    }
                }
            },
            "put":{
                "consumes":[
                    "application/json"
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"body",
                        "in":"body",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/Airport"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "headers":{
                        },
                        "schema":{
                            "$ref":"#/definitions/Airport"
                        }
                    }
                }
            },
            "post":{
                "consumes":[
                    "application/json"
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"body",
                        "in":"body",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/Airport"
                        }
                    }
                ],
                "responses":{
                    "201":{
                        "description":"Created",
                        "headers":{
                            "Location":{
                                "type":"string"
                            }
                        },
                        "schema":{
                            "$ref":"#/definitions/Airport"
                        }
                    }
                }
            }
        },
        "/airports/{airportId}":{
            "get":{
                "consumes":[
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "type":"integer",
                        "name":"airportId",
                        "in":"path",
                        "required":true
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "headers":{
                        },
                        "schema":{
                            "$ref":"#/definitions/Airport"
                        }
                    }
                }
            },
            "delete":{
                "consumes":[
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "type":"integer",
                        "name":"airportId",
                        "in":"path",
                        "required":true
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "headers":{
                        },
                        "schema":{
                            "$ref":"#/definitions/Airport"
                        }
                    }
                }
            }
        },
        "/flights":{
            "get":{
                "consumes":[
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "headers":{
                        },
                        "schema":{
                            "type":"array",
                            "items":{
                                "$ref":"#/definitions/Flight"
                            }
                        }
                    }
                }
            },
            "put":{
                "consumes":[
                    "application/json"
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"body",
                        "in":"body",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/Flight"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "headers":{
                        },
                        "schema":{
                            "$ref":"#/definitions/Flight"
                        }
                    }
                }
            }
        },
        "/flights/{flightId}":{
            "get":{
                "consumes":[
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "type":"integer",
                        "name":"flightId",
                        "in":"path",
                        "required":true
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "headers":{
                        },
                        "schema":{
                            "$ref":"#/definitions/Flight"
                        }
                    }
                }
            }
        },
        "/hello":{
            "get":{
                "consumes":[
                ],
                "produces":[
                ],
                "parameters":[
                    {
                        "type":"string",
                        "name":"name",
                        "in":"query",
                        "required":false,
                        "default":"Gorgeous"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "headers":{
                        },
                        "schema":{
                            "type":"string"
                        }
                    }
                }
            }
        },
        "/hello/airline":{
            "get":{
                "consumes":[
                ],
                "produces":[
                ],
                "parameters":[
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "headers":{
                        },
                        "schema":{
                            "type":"string"
                        }
                    }
                },
                "tags":[
                    "airline"
                ]
            }
        }
    },
    "definitions":{
        "Airline":{
            "properties":{
                "flights":{
                    "type":"array",
                    "items":{
                        "$ref":"#/definitions/Flight"
                    }
                },
                "id":{
                    "type":"integer"
                },
                "name":{
                    "type":"string"
                }
            }
        },
        "Airplane":{
            "properties":{
                "capacity":{
                    "type":"integer"
                },
                "flights":{
                    "type":"array",
                    "items":{
                        "$ref":"#/definitions/Flight"
                    }
                },
                "id":{
                    "type":"integer"
                },
                "model":{
                    "type":"string"
                },
                "serialnr":{
                    "type":"string"
                }
            }
        },
        "Airport":{
            "properties":{
                "airportcode":{
                    "type":"string"
                },
                "arrivals":{
                    "type":"array",
                    "items":{
                        "$ref":"#/definitions/Flight"
                    }
                },
                "city":{
                    "type":"string"
                },
                "country":{
                    "type":"string"
                },
                "departures":{
                    "type":"array",
                    "items":{
                        "$ref":"#/definitions/Flight"
                    }
                },
                "id":{
                    "type":"integer"
                },
                "name":{
                    "type":"string"
                }
            }
        },
        "Flight":{
            "properties":{
                "airline":{
                    "$ref":"#/definitions/Airline"
                },
                "airplane":{
                    "$ref":"#/definitions/Airplane"
                },
                "arrivalDate":{
                    "type":"string"
                },
                "arrivalTime":{
                    "type":"string"
                },
                "departureDate":{
                    "type":"string"
                },
                "departureTime":{
                    "type":"string"
                },
                "destination":{
                    "$ref":"#/definitions/Airport"
                },
                "flightnr":{
                    "type":"string"
                },
                "id":{
                    "type":"integer"
                },
                "origin":{
                    "$ref":"#/definitions/Airport"
                }
            }
        }
    }
}